<%= render 'spree/admin/shared/product_sub_menu' %>
<%= render 'spree/admin/shared/product_tabs', current: 'Prices' %>

<%= form_tag do %>
  <fieldset class="no-border-top">
    <%= render 'variant_prices', variant: @product.master %>
    <% @product.variants.each do |variant| %>
      <%= render 'variant_prices', variant: variant %>
    <% end %>
    <div class="clear"></div>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'icon-refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_product_path(@product), icon: 'icon-remove' %>
    </div>
  </fieldset>
<% end %>
