<%= render 'spree/admin/shared/product_tabs', current: 'Prices' %>

<%= form_tag do %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'variant_prices', variant: @product.master %>
    </div>
    <div class="col-md-6">
      <% @product.variants.each do |variant| %>
        <%= render 'variant_prices', variant: variant %>
      <% end %>
    </div>
  </div>
  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'update' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_product_path(@product), icon: 'delete' %>
  </div>
<% end %>
